<div class="grid grid-cols-[1fr,1150px,1fr] grid-rows-[55px,1fr]">
  <!-- Navbar Area -->
  <div class="col-span-3 row-span-1 bg-gray-800 text-white">
    <nav class="flex h-full items-center justify-center space-x-4">
      <button
        class="rounded-md bg-indigo-500 px-4 py-2 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2"
        routerLink="users">
        Users
      </button>
      <button
        *ngIf="role == 'DEPARTMENT_MEMBERS'"
        class="rounded-md bg-indigo-500 px-4 py-2 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2"
        routerLink="draft">
        Draft
      </button>
      <button
        *ngIf="role == 'DEPARTMENT_MEMBERS' || role == 'APPROVERS'"
        class="rounded-md bg-indigo-500 px-4 py-2 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2"
        routerLink="incoming">
        Incoming
      </button>
      <button
        *ngIf="role == 'DEPARTMENT_MEMBERS' || role == 'APPROVERS'"
        class="rounded-md bg-indigo-500 px-4 py-2 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2"
        routerLink="outgoing">
        Outgoing
      </button>
      <button
        *ngIf="role == 'APPROVERS'"
        class="rounded-md bg-indigo-500 px-4 py-2 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2"
        routerLink="for-approve">
        For approve
      </button>
    </nav>
  </div>

  <!-- Content Area -->
  <div class="col-start-2 row-start-2 rounded-md bg-white p-8 shadow-md">
    <router-outlet></router-outlet>
  </div>
</div>
