<div class="grid grid-cols-[1fr,1150px,1fr] grid-rows-[55px,1fr]">
  <div class="col-span-3 row-span-1 bg-gray-800 text-white">
    <nav class="flex h-full items-center justify-center space-x-4">
      <div
        routerLink="/users"
        routerLinkActive="bg-indigo-600 px-4 py-2 rounded-md cursor-pointer"
        class="rounded-md px-4 py-2 hover:bg-indigo-500">
        Users
      </div>
      <a
        routerLink="/about"
        routerLinkActive="bg-indigo-600 px-4 py-2 rounded-md"
        class="rounded-md px-4 py-2 hover:bg-indigo-500"
        >About</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="bg-indigo-600 px-4 py-2 rounded-md"
        class="rounded-md px-4 py-2 hover:bg-indigo-500"
        >Contact</a
      >
      <!-- Add more links as needed -->
    </nav>
  </div>

  <!-- Content Area -->
  <div class="col-start-2 row-start-2">
    <router-outlet></router-outlet>
  </div>
</div>
